*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    width:100%;
    height: auto;
    line-height: 1.4;
    background-color: white;
    text-align: center;
}

header{
    background-color: rgba(255, 235, 216, 1);
}

.head{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    font-size: 15px;
    padding-top: 20px;
}

span{
    font-size: 15px;
    margin-left: 10px;
    font-weight:lighter;
}

.heading{
    padding-top: 25px;
}

.heading h2{
    font-size:20px;
}

.display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contents img{
    text-align:justify;
    justify-content: center;
    margin-top: 30px;
}

.galaxy{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ship{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.total{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    text-align: justify;
}

.sections{
    margin-top: 30px;
}

.sections h1{
    font-size: 25px;
    margin-bottom:10px;
}

.sections input{
    width: 60%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    border: 1px solid rgba(245, 110, 15, 1);
}

.sections input:hover{
    border: 2px solid rgb(57, 219, 240);
}

.sections h2{
    margin-top: 20px;
    font-size: 19px;
    margin-bottom: 10px;
}

.sections h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.sections h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

.sections input[type]{
    text-align: left;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.sections input[type="checkbox"]{
    text-align: center;
    background-color: black;
    color: rgba(245, 110, 15, 1);
}

label{
    margin-left: 10px;
}

.checks button{
    margin-top: 50px;
    padding: 15px;
    margin-bottom: 50px;
    width: 60%;
    text-align: center;
    justify-content:center;
    background-color: rgba(245, 110, 15, 1);
    border-radius: 20px;
    border:none;
}

.checks button a{
    font-size: 20px;
    color: black;
}

.checks button a:hover{
    color: black;
    background-color: white;
    padding: none;
}
    
.checks button:hover{
    padding: none;
    color: black;
    background-color: white;
    border: 1px solid rgba(245, 110, 15, 1);
}

@media(max-width: 736px){
    body{
    float: none;
    width: 100%
    }

    .sections input{
        width: 80%;
    }

    .checks button{
        width: 80%;
    }

    label{
        font-size: 13px;
    }

    .galaxy{
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .galaxy h3{
        font-size: 15px;
    }

    .galaxy h5{
        font-size: 12px;
    }

    .ship{
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .head{
        font-size: 14px;
    }

    .ship h4{
        font-size: 13px;
    }

    .total{
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .total h4{
        font-size: 12px;
    }

    .total h5{
        font-size: 11px;;
    }

    .sections h1{
        font-size: 20px;
    }

    .sections h2{
        font-size: 16px;
    }

    .sections h3{
        font-size: 15px;
    }

    .sections h4{
        font-size: 13px;
    }
}